@import url('https://fonts.googleapis.com/css2? family=Poppins&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    text-decoration: none;
    list-style-type: none;
}

header{
    background-color: #008080;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 0px 20px 0px 20px;
    position: fixed;
    top: 0px;
}

.logo {
    height: 60%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}
.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: aliceblue;
    font-size: 14px;
}

.car-icon {
    border: 1px solid gray;
    padding: 12px 10px;
    margin-top: 2px;
    border-radius: 10px;
    width: 50px;
    font-weight: 600px;
    cursor: pointer;
}